In [3]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

In [4]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

Eu tenho um arquivo secret.py com uma informação sigilosa. Neste caso é uma chave.
Eu vou chamar o conteudo dessa chave usando o código abaixo.

In [5]:
from secret import IEX_CLOUD_API_TOKEN

## Fazer a primeira chamada a API

A api que eu estou usando

A documentação da API que eu estou usando se encontra aqui: https://iexcloud.io/docs/api/

Eu vou buscar na API duas informações importantes:
O market capitalization para cada ação e o preço de cada ação.

Abaixo eu vou usar fstream para passar o simbolo para o endereço.

In [12]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url)
# print(data.status_code)
# Para eu converter o dado recebido na request em json eu só preciso
# Usar o comando abaixo.
data = requests.get(api_url).json()
print(data)

{'symbol': 'AAPL', 'companyName': 'Apple Inc', 'primaryExchange': ' LMR T)(A SLG/DSOENEBAKQCTESNAALG', 'calculationPrice': 'close', 'open': 132.86, 'openTime': 1672131652245, 'openSource': 'fcoifail', 'close': 131.06, 'closeTime': 1669508247921, 'closeSource': 'ifalicof', 'high': 131.49, 'highTime': 1668414010916, 'highSource': 'i dnieecrp 15ateldyu em', 'low': 134.37, 'lowTime': 1647992660626, 'lowSource': 'rpmcu1 l idaedte5ye ien', 'latestPrice': 132.42, 'latestSource': 'Close', 'latestTime': 'January 13, 2021', 'latestUpdate': 1680652934577, 'latestVolume': 90145011, 'iexRealtimePrice': 135.89, 'iexRealtimeSize': 52, 'iexLastUpdated': 1650345811589, 'delayedPrice': 134.4, 'delayedPriceTime': 1630138249331, 'oddLotDelayedPrice': 135.58, 'oddLotDelayedPriceTime': 1620017120393, 'extendedPrice': 134.29, 'extendedChange': 0.37, 'extendedChangePercent': 0.00292, 'extendedPriceTime': 1644138958280, 'previousClose': 134.1, 'previousVolume': 93255057, 'change': 2.15, 'changePercent': 0.017, 'volume': 89450193, 'iexMarketPercent': 0.015603933644587798, 'iexVolume': 1361190, 'avgTotalVolume': 121290362, 'iexBidPrice': 0, 'iexBidSize': 0, 'iexAskPrice': 0, 'iexAskSize': 0, 'iexOpen': 136.85, 'iexOpenTime': 1670024633311, 'iexClose': 135.35, 'iexCloseTime': 1669027777845, 'marketCap': 2275046085105, 'peRatio': 40.08, 'week52High': 137.33, 'week52Low': 58.34, 'ytdChange': -0.013457348477465679, 'lastTradeTime': 1675893444597, 'isUSMarketOpen': False}

### Um pouco sobre fstrem

Eu uso fstream para modificar alguma tag.

Por exemplo no código abaixo, eu vou trocar a tag {adjective} pela variável adjective acima.

In [7]:
adjective = "superb"
string = f"freeCodeCamp is {adjective}"
print(string)

freeCodeCamp is superb

Parei em 37:45

## Fazer parser do resultado que eu peguei na request da API

In [16]:
price = data['latestPrice']
market_cap = data['marketCap']
print(market_cap)

2275046085105

## Adicionar as informações das ações em um Pandas DataFrame

Para eu passar as informações para um Pandas DataFrame eu preciso antes formatar o DataFrame

In [21]:
# Criar as colunas do dataframe
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

Agora que eu criei o DataFrame, eu vou fazer um append das minhas informações no DataFrame que eu criei logo acima.

Para eu poder adicionar uma informação no meu dataframe eu preciso converter a minha informação em um Panda series. então, se eu tiver um vetor em python que eu quero fazer um append em um dataframe, antes eu preciso converter o vetor em um `pandas series`.

In [24]:
final_dataframe.append(
    pd.Series(
    [
        symbol,
        price,
        market_cap,
        'N/A'
    ],
    index = my_columns
    ),
    ignore_index=True
)

  Ticker  Stock Price Market Capitalization Number of Shares to Buy
0   AAPL       132.42         2275046085105                     N/A

## Adicionando todas as informações das ações no DataFrame usando loop

Eu tenho uma lista com todos as açções. então eu vou usar a minha lista para passar o nome de cada ação para o endpoint que eu pego as informaçoes da ação na minha API.

In [27]:
final_dataframe = pd.DataFrame(columns = my_columns)
for stock in stocks['Ticker']:
    print(stock)

A
AAL
AAP
AAPL
ABBV
ABC
ABMD
ABT
ACN
ADBE
ADI
ADM
ADP
ADSK
AEE
AEP
AES
AFL
AIG
AIV
AIZ
AJG
AKAM
ALB
ALGN
ALK
ALL
ALLE
ALXN
AMAT
AMCR
AMD
AME
AMGN
AMP
AMT
AMZN
ANET
ANSS
ANTM
AON
AOS
APA
APD
APH
APTV
ARE
ATO
ATVI
AVB
AVGO
AVY
AWK
AXP
AZO
BA
BAC
BAX
BBY
BDX
BEN
BF.B
BIIB
BIO
BK
BKNG
BKR
BLK
BLL
BMY
BR
BRK.B
BSX
BWA
BXP
C
CAG
CAH
CARR
CAT
CB
CBOE
CBRE
CCI
CCL
CDNS
CDW
CE
CERN
CF
CFG
CHD
CHRW
CHTR
CI
CINF
CL
CLX
CMA
CMCSA
CME
CMG
CMI
CMS
CNC
CNP
COF
COG
COO
COP
COST
COTY
CPB
CPRT
CRM
CSCO
CSX
CTAS
CTL
CTSH
CTVA
CTXS
CVS
CVX
CXO
D
DAL
DD
DE
DFS
DG
DGX
DHI
DHR
DIS
DISCA
DISCK
DISH
DLR
DLTR
DOV
DOW
DPZ
DRE
DRI
DTE
DUK
DVA
DVN
DXC
DXCM
EA
EBAY
ECL
ED
EFX
EIX
EL
EMN
EMR
EOG
EQIX
EQR
ES
ESS
ETFC
ETN
ETR
EVRG
EW
EXC
EXPD
EXPE
EXR
F
FANG
FAST
FB
FBHS
FCX
FDX
FE
FFIV
FIS
FISV
FITB
FLIR
FLS
FLT
FMC
FOX
FOXA
FRC
FRT
FTI
FTNT
FTV
GD
GE
GILD
GIS
GL
GLW
GM
GOOG
GOOGL
GPC
GPN
GPS
GRMN
GS
GWW
HAL
HAS
HBAN
HBI
HCA
HD
HES
HFC
HIG
HII
HLT
HOLX
HON
HPE
HPQ
HRB
HRL
HSIC
HST
HSY
HUM
HWM
IBM
ICE
IDXX
IEX
IFF
ILMN
INCY
INFO
INTC
INTU
IP
IPG
IPGP
IQV
IR
IRM
ISRG
IT
ITW
IVZ
J
JBHT
JCI
JKHY
JNJ
JNPR
JPM
K
KEY
KEYS
KHC
KIM
KLAC
KMB
KMI
KMX
KO
KR
KSS
KSU
L
LB
LDOS
LEG
LEN
LH
LHX
LIN
LKQ
LLY
LMT
LNC
LNT
LOW
LRCX
LUV
LVS
LW
LYB
LYV
MA
MAA
MAR
MAS
MCD
MCHP
MCK
MCO
MDLZ
MDT
MET
MGM
MHK
MKC
MKTX
MLM
MMC
MMM
MNST
MO
MOS
MPC
MRK
MRO
MS
MSCI
MSFT
MSI
MTB
MTD
MU
MXIM
MYL
NBL
NCLH
NDAQ
NEE
NEM
NFLX
NI
NKE
NLOK
NLSN
NOC
NOV
NOW
NRG
NSC
NTAP
NTRS
NUE
NVDA
NVR
NWL
NWS
NWSA
O
ODFL
OKE
OMC
ORCL
ORLY
OTIS
OXY
PAYC
PAYX
PBCT
PCAR
PEAK
PEG
PEP
PFE
PFG
PG
PGR
PH
PHM
PKG
PKI
PLD
PM
PNC
PNR
PNW
PPG
PPL
PRGO
PRU
PSA
PSX
PVH
PWR
PXD
PYPL
QCOM
QRVO
RCL
RE
REG
REGN
RF
RHI
RJF
RL
RMD
ROK
ROL
ROP
ROST
RSG
RTX
SBAC
SBUX
SCHW
SEE
SHW
SIVB
SJM
SLB
SLG
SNA
SNPS
SO
SPG
SPGI
SRE
STE
STT
STX
STZ
SWK
SWKS
SYF
SYK
SYY
T
TAP
TDG
TDY
TEL
TFC
TFX
TGT
TIF
TJX
TMO
TMUS
TPR
TROW
TRV
TSCO
TSN
TT
TTWO
TWTR
TXN
TXT
TYL
UA
UAA
UAL
UDR
UHS
ULTA
UNH
UNM
UNP
UPS
URI
USB
V
VAR
VFC
VIAC
VLO
VMC
VNO
VRSK
VRSN
VRTX
VTR
VZ
WAB
WAT
WBA
WDC
WEC
WELL
WFC
WHR
WLTW
WM
WMB
WMT
WRB
WRK
WST
WU
WY
WYNN
XEL
XLNX
XOM
XRAY
XRX
XYL
YUM
ZBH
ZBRA
ZION
ZTS

Parei em